<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <link href="~/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="~/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link href="~/css/flaticon.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="~/css/owl.carousel.css">
        <link rel="stylesheet" href="~/css/slicknav.css">
        <link href="~/css/custom.css" rel="stylesheet" media="screen">
</head>
<body>
    @RenderSection("Scripts")
    <div>
        @RenderBody()
    </div>
    <script src="https://kit.fontawesome.com/4077c6ef6a.js" crossorigin="anonymous"></script>
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/function.js"></script>
</body>
</html>
