
@{
    ViewData["Title"] = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Vũ Trí Baber</title>

</head>
<body>
    <div id="body">
        <h1><span>History of Babershop Vũ Trí </span></h1>
        <div>
            <img src="~/img/vutriCouple.jpg" alt="VuTri">
            <div class="article">
                <h3>BarberShop Vũ Trí</h3>
                <p>
                    Barber Shop Vũ Trí – sự kết hợp giữa tên của hai anh em ruột thịt, anh Đỗ Linh Vũ và anh Trí Tam Quốc.
                </p>
                <h3>Chẳng ai có đam mê từ lúc đầu</h3>
                <p>
                    Đó là sự thật. Anh Vũ bôn ba trên đường đời tấp nập, trải qua bao nghề sương gió. Từ người đàn ông vất vả sửa những chiếc xe, quấn từng cuộn mô tơ. Cũng như những người trẻ khác. Năm 1992, anh thích đi theo ba chơi, rồi từ lúc nào lại cầm kéo nghịch. Rồi đam mê, cảm hứng và sự tâm huyết đã nổi lên khi anh cầm chặt chiếc kéo trong tay.
                </p>
                <p>
                    Rồi anh lại trở thành một người thợ cắt tóc đông khách nhất nhì Sài Gòn thời điểm đó. Và với cái tên thật dân dã, Vũ Minh Khai. Đơn giản vì tiệm tóc của anh chàng tên Vũ ở đường Nguyễn Thị Minh Khai.
                </p>
                <h3>Anh Trí Tam Quốc</h3>
                <p>
                    Một chàng trai trải đời với nhiều công việc khác nhau. Anh cũng chỉ quẩn quanh vài tuần, vài tháng rồi bỏ đi. Anh Vũ – người anh trai đã dạy anh từng đường dao, lưỡi kéo, từng đường tông đơ trên tóc, dẫn dắt anh tìm được đam mê thật sự. Sau đó anh cũng mỉm cười bảo, chưa có đam mê nào như nghề tóc, theo luôn đến bây giờ.
                </p>
                <p>
                    BarberShop Vũ Trí từ  ằng duyên cớ đó đã vững mạnh trên 25 năm. Tồn tại và phát triển với tiêu chí tâm huyết “Chất lượng làm nên thương hiệu”
                </p>
                <h3>Anh Đỗ Linh Vũ và Anh Trí Tam Quốc</h3>
                <p>
                    Một chàng trai trải đời với nhiều công việc khác nhau. Anh cũng chỉ quẩn quanh vài tuần, vài tháng rồi bỏ đi. Anh Vũ – người anh trai đã dạy anh từng đường dao, lưỡi kéo, từng đường tông đơ trên tóc, dẫn dắt anh tìm được đam mê thật sự. Sau đó anh cũng mỉm cười bảo, chưa có đam mê nào như nghề tóc, theo luôn đến bây giờ.
                </p>
            </div>
        </div>
    </div>
    </body>
</html>


