
@{
    ViewData["Title"] = "Triblog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trí Blog - Vũ Trí Baber</title>
</head>
<body>
    <div id="body">
        <h1><span>ĐỒNG SÁNG LẬP</span></h1>
        <div>
            <img src="~/img/tri.jpg" alt="TriImage">
            <div class="article">
                <h2>ĐỒNG SÁNG LẬP: ANH TRÍ TAM QUỐC</h2>
                <p>
                    Anh Trí Tam Quốc – một chàng trai trải đời với nhiều công việc khác nhau. Anh chỉ quẩn quanh vài tuần, vài tháng rồi bỏ đi. Anh Vũ – người anh trai đã dạy anh từng đường dao, lưỡi kéo, từng đường tông đơ trên tóc.
                </p>
                <p>
                    Đồng thời dẫn dắt anh tìm được đam mê thật sự, rồi anh cũng mỉm cười. Anh nói chưa có đam mê nào như nghề tóc, theo luôn đến bây giờ.
                </p>
                <p>
                    Có thời gian anh đi bộ đội, anh cắt tóc cho cả quân đoàn từ sỉ quan đến đồng đội. Niềm đam mê thật sự đã rực cháy trong anh.
                </p>
            </div>
        </div>
    </div>
</body>
</html>

